body {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.calculator {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 500px;
    height: 500px;
}

.display {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 500px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.inner-display {
    margin: 10px;
    font-size: xxx-large;

}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    border-radius: 10px;
}